# ioBroker-Adapters

## ioBroker adapter list (my adapters)

| | Adapter | Beta-Version  | Node | Dependencies | Keywords |
|-|---------|---------------|------|--------------|----------|
{{#adapters}}
| <img src="{{{icon}}}" alt="{{title}}" width="25" /> | [{{title}}]({{{url}}}) | Beta: {{version.beta}} ({{version.betaAge}} days ago)<br/>Stable: {{version.stable}} | {{version.node}} | {{{package.dependencies}}} | {{{package.keywords}}} |
{{/adapters}}

----

*Generated at: {{generatedAt}}*
