<p align=center>
  <a href="https://www.youtube.com/c/Hausautomatisierung-com/"><img alt="YouTube Channel Subscribers" src="https://img.shields.io/youtube/channel/subscribers/UCRDCsZvUg75Bibp9qYbHivw?label=haus-automatisierung.com&logo=youtube&style=flat-square"> <img alt="YouTube Channel Views" src="https://img.shields.io/youtube/channel/views/UCRDCsZvUg75Bibp9qYbHivw?logo=youtube&style=flat-square"></a> <img alt="GitHub followers" src="https://img.shields.io/github/followers/klein0r?logo=github&style=flat-square"> <img alt="GitHub User's stars" src="https://img.shields.io/github/stars/klein0r?affiliations=OWNER&logo=github&style=flat-square">
</p>

My name is **Matthias Kleine**.

Self-employed trainer and software developer based in Paderborn, Germany.

💬 Ask me about **Smart Home** and **Building automation**

<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username=klein0r&show_icons=true&theme=calm" alt="klein0r" />
</p>

----

### ioBroker

#### ioBroker adapter list (my adapters)

| Adapter | Beta-Version | Stable-Version | Installations | Weekly Downloads | Issues |
|---------|--------------|----------------|---------------|------------------|--------|
{{#adapters}}
| ![{{name}}]({{{icon}}} | width=25) [ioBroker.{{name}}]({{{url}}}) | {{version.beta}}<br />{{version.betaAge}} days ago | **{{version.stable}}** | {{installations}} | {{weekDownloads}} | {{issues}} |
{{/adapters}}

#### ioBroker adapter list (heavy contribution)

| Adapter | Beta-Version | Stable-Version | Installations | Weekly Downloads | Issues |
|---------|--------------|----------------|---------------|------------------|--------|
{{#adaptersContrib}}
| ![{{name}}]({{{icon}}} | width=25) [ioBroker.{{name}}]({{{url}}}) | {{version.beta}}<br />{{version.betaAge}} days ago | **{{version.stable}}** | {{installations}} | {{weekDownloads}} | {{issues}} |
{{/adaptersContrib}}

----

*Generated at: {{generatedAt}}*
