# ioBroker-Adapters

## ioBroker adapter list (my adapters)

| | Adapter | Node | Dependencies | Keywords | Issues | Files |
|-|---------|------|--------------|----------|--------|-------|
{{#adapters}}
| <img src="{{{icon}}}" alt="{{title}}" width="25" /> | [{{title}}]({{{url}}})<br/>License: `{{ioPackage.license}}`<br/>Beta: {{version.beta}} ({{version.betaAge}} days ago)<br/>Stable: {{version.stable}} | {{version.node}} | {{{package.dependencies}}}<br/>{{{package.devDependencies}}}<br/><br/>{{{ioPackage.dependencies}}}<br/>{{{ioPackage.globalDependencies}}} | {{{package.keywords}}} | {{issues}} | Funding `{{files.hasFunding}}`<br/>Bug-Report `{{files.issueTemplateVersion}}`<br/>Issue-Lock: `{{files.issueLockWorkflowVersion}}`<br/>Workflow: `{{files.issueWorkflowVersion}}` |
{{/adapters}}
