# ioBroker-Adapters

## ioBroker adapter list (my adapters)

| | Adapter | Versions | Node | Dependencies | Keywords | Issues | Files |
|-|---------|----------|------|--------------|----------|--------|-------|
{{#adapters}}
| <img src="{{{icon}}}" alt="{{title}}" width="25" /> | [{{title}}]({{{url}}}) | License: `{{ioPackage.license}}`<br/>Beta: {{version.beta}} ({{version.betaAge}} days ago)<br/>Stable: {{version.stable}} | {{version.node}} | {{{package.dependencies}}} | {{{package.keywords}}} | {{issues}} | Funding `{{files.hasFunding}}`<br/>Bug-Report `{{files.issueTemplateVersion}}`<br/>Workflow: `{{files.issueWorkflowVersion}}` |
{{/adapters}}
